<article class="post">
    {% assign author = site.authors | where: "short_name", post.author | first %}
    <header>
        <div class="title">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.subtitle }}</p>
        </div>
        <div class="meta">
            <time class="published"
                datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
            <a href="{{ author.url }}" class="author"><span class="name">{{ author.name }}</span><img
                    src="/images/{{ author.short_name }}.jpg" alt="" /></a>
        </div>
    </header>
    <a href="{{ post.url }}" class="image featured">
        <img src="/images/{{ post.preview_image }}" alt="" />
    </a>
    <p>{{ post.excerpt }}</p>
    <footer>
        <ul class="actions">
            <li><a href="{{ post.url }}" class="button large">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon solid fa-heart">28</a></li>
            <li><a href="#" class="icon solid fa-comment">128</a></li>
        </ul>
    </footer>
</article>
